.react-datepicker-wrapper,
.react-datepicker-wrapper .react-datepicker__input-container {
    /* https://github.com/Hacker0x01/react-datepicker/issues/1672 */
    width: 100%;
    /* to make it exactly the same height as the bootstrap input-group-addons */
    display: inline;
}

.breadcrumb {
    background-color: lightgrey;
}